<div class="container mt-3">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Name & Details</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let policy of policies;let i = index">
                <td>{{i+1}}</td>
                <td>
                    <div class="card mb-3" style="max-width: 600px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img [src]= "policy.address" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="text-transform: capitalize;">{{policy.Name}}</h5>
                                    <p class="card-text" style="text-transform: capitalize;">City : {{policy.City}}<br> Latitude : {{policy.Latitude}}<br>Longitude : {{policy.Longitude}}.</p>
                                    <p class="card-text"><small class="text-muted">Id : {{policy.id}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><button type="button" class="btn " (click)="onIssue(policy)" data-toggle="modal" data-target="#popupForm">Issue It</button></td>
            </tr>
        
        </tbody>
    </table>
    <div class="modal fade" id="popupForm" tabindex="-1" role="dialog" aria-labelledby="popupFormTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="popupFormTitle">Provide Details:</h5>
              <button #myclose type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="IssueForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="padding-top: 1px;">First Name</label>
                                <input
                                  type="text"
                                  formControlName="firstName"
                                  class="form-control"
                                  aria-describedby="emailHelp"
                                  placeholder="Enter your First Name"
                                  [ngClass]="{ 'is-invalid':f.firstName.touched && f.firstName.errors }"
                                />
                                <div *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                                  <div *ngIf="f.firstName.errors.required">*firstName is required</div>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="padding-top: 1px;">Last Name</label>
                                <input
                                  type="text"
                                  formControlName="lastName"
                                  class="form-control"
                                  aria-describedby="emailHelp"
                                  placeholder="Enter your Last Name"
                                  [ngClass]="{ 'is-invalid':f.lastName.touched && f.lastName.errors }"
                                />
                                <div *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                                  <div *ngIf="f.lastName.errors.required">*lastName is required</div>
                                </div>
                              </div>
                        </div>
                      </div>
                    <div class="form-group">
                      <mat-form-field>
                        <mat-label>Date</mat-label>
                        <input [ngClass]="{ 'is-invalid':f.date.touched  &&  f.date.errors }" formControlName="date" matInput [matDatepicker]="myPicker"  placeholder="date">
                        <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
                        <mat-datepicker  #myPicker></mat-datepicker>
                      </mat-form-field>
                      <!-- <label for="date" style="padding-top: 1px;"
                        >date</label
                      >
                      <input
                        type="date"
                        formControlName="date"
                        class="form-control"
                        placeholder="date"
                        [ngClass]="{ 'is-invalid':f.date.touched  &&  f.date.errors }"
                      /> -->
                      <div *ngIf="f.date.touched  &&  f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">
                          *date is required
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn float-right mt-3">Submit</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
</div>