<div class="m-2">
    <button type="button" class="btn btn-dark" (click)="convetToPDF()">Convert</button>
</div>
<div class="container" id="page-container" style="background-color:	#F0F0F0;padding-left: 0px;padding-right: 0px;">
    <div style="font-size: 40px;font-family: 'Aleo';padding-top: 15px;margin: 0px;background-color: green;text-align: center;color: white;font-size: bold;text-transform: uppercase;">CERTIFICATE IN HONOUR</div>
    <div class="" style="text-align: center;font-family: 'Cooper Hewitt';color: #00008B;font-size: 18px;padding-top: 100px;">THIS CERTIFIES THAT</div>
    <div class="" style="text-align: center;font-family: 'Cooper Hewitt';font-size: 60px;color: darkgreen;padding-top: 10px;text-transform: capitalize;">{{info.Name}}</div>
    <div class="" style="text-align: center;font-family: 'Cooper Hewitt';color: #00008B;font-size: 18px;padding-top: 20pxpx;">has participated in UPES 16th Annual Tree Planting Day on {{info.Date | date: 'fullDate' }}</div>
    <div class="row no-gutters" style="padding-top: 140px;padding-bottom: 52px;">
        <div class="col-lg-5">
            <hr style="width :300px;text-align: center;border-width: 2px;border-color: green;">
            <div style="text-align: center;font-family: 'Cooper Hewitt';font-size: 16px;color: green;">Mr. Ravi Tomar</div>
            <div style="text-align: center;font-family: 'Cooper Hewitt';font-size: 22px;color: #00008B">(FACILITATOR)</div>
        </div>
        <div class="col-lg-2 text-center">
            <qrcode [qrdata]="routeurl" [width]="150" [errorCorrectionLevel]="'M'" [elementType]="'url'"></qrcode>
        </div>
        <div class="col-lg-5">
            <hr style="width :280px;text-align: center;border-width: 2px;border-color: green;">
            <div style="text-align: center;font-family: 'Cooper Hewitt';font-size: 16px;color: green;">Ashish Bansal</div>
            <div style="text-align: center;font-family: 'Cooper Hewitt';font-size: 22px;color: #00008B">(FACILITATOR)</div>
        </div>
    </div>
    <div>
        <img src="../../assets/images/tree.JPG" style="width: 1139px;height: 100px;" alt="" />
    </div>
</div>